#caixa{
    background-color:lightblue;
padding: 50px ; 
width: 300px; 
margin: 50px auto;
border:15px;     
 }
 
 #menu ul{
     padding:10px;
     margin:10px;
     background-color:green;
     list-style: none;
 }
 #menu ul li{
     display: inline;
     padding:30px;
 }
 #menu ul li a{
     background-color:blue;
     color: white;
     text-decoration:none;
     border-bottom:3px solid #ededed;
 }